/* animatin  */





.fetureImg{
    animation:pop;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


@keyframes pop{
    0%{transform: scale(0.4);}
    100%{transform: scale(1);}
}
.mybtn:hover{
    animation-name: pop2;
    animation-duration: 0.5s;
    animation-iteration-count:initial;
    animation-direction: alternate;
}

@keyframes pop2{
    0%{transform: translateX(0px);}
    25%{transform: translateX(40px);}
    50%{transform: translateX(0px);}
    75%{transform: translateX(40px);}
    100%{transform: translateX(0px);}
}

.author-info{
    animation: pop3;
    animation-duration: 2s;
}
@keyframes pop3{
    0%{margin-left: 600px;opacity: 0;}
    80%{margin-left: 0px;opacity: 1;}
    100%{margin-left: 0px;opacity: 1;}
    
}
.progress-bar{
    animation: full;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes full{
    0%{width: 0%;}
    80%{width: 100%;}
    100%{width: 100%;}
}
.myskill_text{
    animation: srink;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes srink{
    0%{width: 0%;}
    80%{width: 100%;}
    100%{width: 102%;}
}
